name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  backend:
    name: Build Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore
        working-directory: sass_backend

      - name: Build
        run: dotnet build --no-restore
        working-directory: sass_backend
